<div class="registration-header ">
  <h2 class="registration-title">Register</h2>
  <p class="registration-subtitle">Join us and get started today</p>
</div>
<div class="registration-container my-4">
  <form [formGroup]="registrationForm" (ngSubmit)="registerUser()" class="registration-form" >
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" id="first_name" formControlName="first_name" class="form-control" required>
      <div *ngIf="isFieldInvalid('first_name')">
        First Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" id="last_name" formControlName="last_name" class="form-control" required>
      <div *ngIf="isFieldInvalid('last_name')">
        Last Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control" required>
      <div *ngIf="isFieldInvalid('email')">
        Please enter a valid email address.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" class="form-control" required>
      <div *ngIf="isFieldInvalid('password')">
        Password is required and must be at least 8 characters.
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" required>
      <div *ngIf="isFieldInvalid('confirmPassword')">
        Please confirm your password.
      </div>
      <div *ngIf="registrationForm.hasError('passwordMismatch')">
        Passwords do not match.
      </div>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" id="city" formControlName="city" class="form-control" required>
      <div *ngIf="isFieldInvalid('city')">
        City is required.
      </div>
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input type="text" id="state" formControlName="state" class="form-control" required>
      <div *ngIf="isFieldInvalid('state')">
        State is required.
      </div>
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" id="country" formControlName="country" class="form-control" required>
      <div *ngIf="isFieldInvalid('country')">
        Country is required.
      </div>
    </div>
    <div class="form-group">
      <label for="pincode">Pincode</label>
      <input type="text" id="pincode" formControlName="pincode" class="form-control" required>
      <div *ngIf="isFieldInvalid('pincode')">
        Pincode is required.
      </div>
      <div class="form-group">
        <label for="departmentCode">Department Code</label>
        <input type="text" class="form-control" id="departmentCode" formControlName="departmentCode" name="departmentCode" required>
      </div>
      
      <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" id="role" formControlName="role" name="role" required>
          <option value="USER">USER</option>
          <option value="ADMIN">ADMIN</option>
        </select>
        </div>
    </div>
    <button type="submit" [disabled]="registrationForm.invalid">Register</button>
  </form>
</div>
