<div class="container mt-4">
  <h2>View Users</h2>
  <button class="btn btn-primary mb-3" routerLink="/register">Create User</button>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th (click)="sortTable('user_id')">User ID</th>
        <th (click)="sortTable('email')">Email</th>
        <th (click)="sortTable('first_name')">First Name</th>
        <th (click)="sortTable('last_name')">Last Name</th>
        <th>Address</th>
        <th (click)="sortTable('departmentCode')">Department Code</th>
        <th>Action 1</th>
        <th>Action 2</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of pagedUsers">
        <td>{{ user.user_id }}</td>
        <td>{{ user.email | uppercase}}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.address.city }}, {{ user.address.state }}, {{ user.address.country }} - {{ user.address.pincode }}</td>
        <td>{{ user.departmentCode }}</td>
        <td *ngIf="!isAdmin(user)"><button class="btn btn-warning" (click)="showUpdateForm = true;updateUserForm(user)">Update</button></td>
        <td *ngIf="!isAdmin(user)">
          <button class="btn btn-danger" (click)="deleteUser(user.user_id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [pageSizeOptions]="[1, 2, 3]" [pageSize]="itemsPerPage" [pageIndex]="currentPage - 1"
    [length]="users.length" (page)="onPageChange($event)"></mat-paginator>
</div>
<form *ngIf="showUpdateForm" [formGroup]="updateForm" (ngSubmit)="updateUser(user)">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" formControlName="first_name" class="form-control">
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" formControlName="last_name" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" id="city" formControlName="city" class="form-control">
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <input type="text" id="state" formControlName="state" class="form-control">
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" id="country" formControlName="country" class="form-control">
  </div>
  <div class="form-group">
    <label for="pincode">Pincode</label>
    <input type="text" id="pincode" formControlName="pincode" class="form-control">
  </div>
  <div class="form-group">
    <label for="departmentCode">Department Code</label>
    <input type="text" id="departmentCode" formControlName="departmentCode" class="form-control">
  </div>
  <button type="submit">Update</button>
</form>
