<div class="container mt-4">
    <h2>View Users</h2>
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>User ID</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.user_id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.address.city }}, {{ user.address.state }}, {{ user.address.country }} - {{ user.address.pincode }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteUser(user.user_id)">Delete</button>
      </td>
        </tr>
      </tbody>
    </table>
  </div>
  
