
  <div class="col-md-6">
    <h2>Create New Department</h2>
    <form (ngSubmit)="createDepartment()" [formGroup]="departmentForm">
      <div class="form-group">
        <label for="departmentName">Department Name</label>
        <input type="text" class="form-control" id="departmentName" formControlName="departmentName">
      </div>
      <div class="form-group">
        <label for="departmentCode">Department Code</label>
        <input type="text" class="form-control" id="departmentCode" formControlName="departmentCode">
      </div>
      <button type="submit" class="btn btn-primary">Create Department</button>
    </form>
  </div>
  
  <!-- <div class="col-md-6">
    <h2>Departments</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let department of departments" (click)="selectDepartment(department)">
        {{ department.departmentName }}
      </li>
    </ul>
  </div> -->
  <div class="col-md-6">
  <h2>Departments List</h2>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let department of departments"
      (click)="selectDepartment(department)"
      [class.active]="selectedDepartment === department"
    >
      {{ department.departmentName }}
    </li>
  </ul>
  </div>
  
  <div class="col-md-12 mt-4" *ngIf="selectedDepartment">
    <h2>Users in {{ selectedDepartment.departmentName }}</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of departmentUsers">
        {{ user.first_name }} {{ user.last_name }} - Email: {{ user.email }} - Address: {{ user.address.city }}, {{ user.address.state }}, {{ user.address.country }} {{ user.address.pincode }}
      </li>
    </ul>
  </div>
  